
<div class="banner">
    <div class="stretch"></div>
    <div class="logo"></div>
</div>

<div id="about">
    <div class="section">
        <h2>What Is StoryDevs?</h2>
        <p>{{hyphen "StoryDevs is a community for developers of story-focused games and visual novels. Its purpose is to provide developers with free infrastructure that makes recruiting, sharing, and educating easier."}}</p>
    </div>
    
    <!-- 
    <div class="section">
        <h2>High-Level Goals</h2>
        <ul>
            <li>{{hyphen "To provide free public services related to development."}}</li>
            <li>{{hyphen "To educate, organise, and encourage developers."}}</li>
            <li>{{hyphen "To build a welcoming, multi-identity community."}}</li>
        </ul>
    </div>
     -->
     
    <div class="section">
        <h2>Features</h2>
        <p>{{hyphen "StoryDevs is under development. Here's the features that are online:"}}</p>
        <ul>
            <li>{{hyphen "A Talent Database that allows devs to make profiles that are searchable by criteria such as availability. Currently only art-related skills are available — in the future there will be more."}}</li>
            <li>{{hyphen "An event scheduler that allows devs to create public events (streams, conferences, etc) which others can see in their local time."}}</li>
            <li>{{hyphen "Forums for devs to discuss their craft and connect with others."}}</li>
        </ul>
    </div>
    
    
    <div class="section">
        <h2>How To Support</h2>
        <p>{{hyphen "StoryDevs is made by"}} <a href="https://twitter.com/jakebowkett">{{hyphen "Jake Bowkett"}}</a>{{hyphen ". If it sounds like your kind of thing please spread the word to friends and other devs. Consider becoming a member or joining the Discord. Money also helps cover server and labour costs."}}</p>
        <ul>
            <li><a href="https://www.patreon.com/jakebowkett">{{hyphen "Become a Patron"}}</a></li>
            <li><a href="https://discord.gg/A2jtNqE">{{hyphen "Join our Discord server"}}</a></li>
            <li><a href="https://twitter.com/storydevs">{{hyphen "Follow our Twitter"}}</a></li>
        </ul>
    </div>
    
    
</div>

